<h1>Editing ficha</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
      <%= render 'form' %>
  </div>
</div>

<%= link_to(@ficha) do %>
    <span class="glyphicon glyphicon-info-sign"></span>
<% end %>
<%= link_to(fichas_path) do %>
    <span class="glyphicon glyphicon-arrow-left"></span>
<% end %>
