@import "bootstrap";

$semitrans:  rgba(204, 204, 204, 0.8);

.navbar-default {
  background-color: #3f464c;
  border-color: #e7e7e7;
}

.navbar-inverse {
  //background-color: #3f464c;
  //background-color: #ffffff;
  //opacity: 0.1;
  background: $semitrans;
  border-color: #090909;
  .navbar-nav > li > a {
    color: black;
    font-weight:bold;
  }
}

canvas {
 z-index: 998;
opacity:1;
background: red;
}

.fotos {
  color: #fafafa;
  margin: 1px;
  padding: 0px;
  border-color: #000000;
  border-style:solid;
  border-width:1px;
  background: rgba(204, 204, 204, 0.4);
  color: black;
}

a {
  color: black;
}

.model-6 {
  width:99%;
  height:25vh;
}

.model-full {
  width:99%;
  height:80vh;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
  
  
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-family: 'Roboto', sans-serif; 
  font-weight: 100; 
  background: image-url('fondo1.png') no-repeat center center fixed;
  //-webkit-background-size: cover;
  //-moz-background-size: cover;
  //-o-background-size: cover;
  background-size: cover;
  //background-color: #3f464c;
  color: #fafafb;
  // background: rgba(204, 204, 204, 0.1);
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #fafafa;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

#footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

