@import "bootstrap";


.navbar-default {
  background-color: #3f464c;
  border-color: #e7e7e7;
}

body {
 
}

input {
  background-color: #4e575e;
}

canvas {
 z-index: 998;
opacity:1;
background: red;
}

.foto {
  background-color: #303030;
  color: #fafafa;
  margin: 3px;
}

a {
  color: #e30613;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-family: 'Roboto', sans-serif; 
  font-weight: 100; 
  background-color: #3f464c;
  color: #fafafb;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #fafafa;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

#footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}