// Place all the styles related to the pts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.model-6 {
  width:99%;
  height:25vh;
}

.model-full {
  width:99%;
  height:80vh;
}