<div id="footer">
  <div class="container">
    <p class="text-muted">
      <%= image_tag "Saema.opt.svg", height: '20px' %>
      &nbsp;|&nbsp;
      <%= image_tag "solConU.svg", height: '30px' %>
      &nbsp;|&nbsp;
      <%= image_tag "mm.svg",  height: '20px' %>
      &nbsp;|&nbsp;
      <strong>
        Projetos ...
      </strong>
    </p>
  </div>
</div>
